@charset 'utf-8';
@import url('fonts/fonts.css');

* { border:  none;  margin: 0; font-weight: inherit; text-decoration: inherit;
    outline: none; padding: 0; font-family: inherit; font-size: 1em;         }

/* general */

body {
 font-family: 'WorkSans-SemiBold', sans-serif;
 color: white;
 background: #a45; /* Replaced in JS */
 font-size: 20px;
 overflow: hidden;
}

::-moz-selection { background: transparent; color: white; }
     ::selection { background: transparent; color: white; }

a, a:link, a:visited {
 color: white;
}

a:hover, a:focus {
 border-bottom: solid .2em white;
 margin-bottom: -.2em;
}

/* draw me sentence */

blockquote {
 font-size: 3em;
 text-align: center;
}

blockquote#drawme {
 display: table-cell;
 width: calc(100vw - 2em); 
 height: calc(100vh - 2em);
 padding: 1em;
 vertical-align: middle;
 cursor: help;
}

/* navigation */

nav a {
 position: absolute;
}

nav a:nth-child(1) {    top: .5em;  left: .5em; }
nav a:nth-child(2) {    top: .5em; right: .5em; }
nav a:nth-child(3) { bottom: .5em;  left: .5em; }
nav a:nth-child(4) { bottom: .5em; right: .5em; }

/* gallery blog */

article {
 text-align: center;
}

article blockquote {
 font-size: 2em;
}
