@charset 'utf-8';
@import url('fonts/fonts.css');

* { border:  none;  margin: 0; font-weight: inherit; text-decoration: inherit;
    outline: none; padding: 0; font-family: inherit; font-size: 1em;         }

/* page */

body {
 font-family: 'WorkSans-SemiBold', sans-serif;
 font-size: 20px;
}

#home {
 color: white;
 background: #a45; /* Replaced in JS */
 overflow: hidden;
}

#gallery {
 color: black;
 background: white;
}

/* text selection */

#home ::-moz-selection { background: transparent; color: white; }
#home      ::selection { background: transparent; color: white; }

#gallery ::-moz-selection { background: black; color: white; }
#gallery      ::selection { background: black; color: white; }

/* links */

a,
a:link,
a:visited {
}

#home a,
#home a:link,
#home a:visited {
 color: white;
}

#gallery a,
#gallery a:link,
#gallery a:visited {
 color: black;
}

a:hover,
a:focus {
 border-bottom: solid .2em;
 margin-bottom: -.2em;
}

#home a:hover,
#home a:focus {
 border-color: white;
}

#gallery a:hover,
#gallery a:focus {
 border-color: black;
}

/* draw me sentence */

blockquote {
 font-size: 3em;
 text-align: center;
}

#home blockquote {
 display: table-cell;
 width: calc(100vw - 2em); 
 height: calc(100vh - 2em);
 padding: 1em;
 vertical-align: middle;
 cursor: help;
}

#gallery blockquote {
 font-size: 2em;
 margin-top: .5em;
}


/* navigation */

nav a {
 position: fixed;
}

nav a:nth-child(1) {    top: .5em;  left: .5em; }
nav a:nth-child(2) {    top: .5em; right: .5em; }
nav a:nth-child(3) { bottom: .5em;  left: .5em; }
nav a:nth-child(4) { bottom: .5em; right: .5em; }

/* gallery items */

#gallery article {
 text-align: center;
 margin-top: 4em;
}

#gallery article img {
 width: calc(100vw - 2em);
 max-width: 800px;
}

#gallery .social {
 margin-top: 1em;
}

#gallery .pagination {
 list-style: none;
 text-align: center;
 margin: 4em 0 .5em 0;
}

#gallery .pagination li {
 display: inline;
}